﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>URL: @Request.Url</p>
<p>Query: @Request.QueryString</p>
<p>Name: @Request["Name"]</p>
<p>Age: @Request["Age"]</p>
<p>Nupp: @Request["nupp"]</p>

<form method="post">
    <input type="submit" value="Vajuta" name="nupp" />
    <input type="submit" value="Ära Vajuta" name="nupp" />
    Nimi: <input type="text" name="Name" />
    Vanus: <input type="number" name="Age" />
</form>
