﻿@model MVCNorthWind2.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-lg-6">
        <div>
            <h4>Employee</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TitleOfCourtesy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TitleOfCourtesy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HireDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HireDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Region)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Region)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Country)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>

                <dt>
                    pilt
                </dt>
                <dd>
                    <img src="@Url.Action("Photo", new { id = Model.EmployeeID })" height="200" />
                </dd>

                <dt>
                    Manager
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Manager.FullName)
                </dd>

            </dl>
        </div>
    </div>
    @if(ViewBag.alluvatega == 1 && Model.ReportsTo != null)
    { 
    <div class="col-lg-6">
        @Html.Action("Details", new { id = Model.ReportsTo, alluvatega = 0})
    </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (ViewBag.alluvatega == 1 && Model.Subordinates.Count() > 0)
{
    <div>
        @Html.Action("Index", new { id = Model.EmployeeID })

    </div>
}