﻿@model IEnumerable<MVCNorthWind2.Models.Product>

@{
    ViewBag.Title = "Index";
    int pages = ViewBag.pages;
}

<h2>Meie ilusad tooted</h2>
<p class="text-danger">@TempData["error"]</p>
@*<p>pages: @pages @Model.Count() @ViewBag.size</p>*@

@*<p>sort: @ViewBag.sort</p>
    <p>dir: @ViewBag.direction</p>*@

<form method="post" hidden>
    Mille järgi: @*<input type="text" name="sort" value="ProductName" />*@
    <select name="sort" onchange="this.form.submit()">
        <option>sorteerimata</option>
        <option value="price" @(ViewBag.sort == "price" ? "selected" : "")>Hind</option>
        <option value="name" @(ViewBag.sort == "name" ? "selected" : "")>Nimetus</option>
        <option value="units" @(ViewBag.sort == "units" ? "selected" : "")>Kogus</option>
    </select>
    <br />
    Kummas suunas: @*<input type="text" name="direction" value="ascending" />*@
    <select name="direction" onchange="this.form.submit()">
        <option value="asc" @(ViewBag.direction == "asc" ? "selected" : "")>kasvavalt</option>
        <option value="desc" @(ViewBag.direction == "desc" ? "selected" : "")>kahanevalt</option>
    </select>


    <br />
    @*<input type="submit" value="sordi" />*@
</form>

<form method="post">
    <input type="submit" name="size" value="10" @(ViewBag.size == 10 ? "style=background-color:red" : "") />
    <input type="submit" name="size" value="5" @(ViewBag.size == 5 ? "style=background-color:red" : "") />
    <input type="submit" name="size" value="25" @(ViewBag.size == 25 ? "style=background-color:red" : "") />
    <input type="hidden" name="sort" value="@ViewBag.sort" />
    <input type="hidden" name="direction" value="@ViewBag.direction" />
</form>
@if (ViewBag.size != 0)
{
    <div style="display:inline">

        <form method="post">
            <input type="hidden" name="sort" value="@ViewBag.sort" />
            <input type="hidden" name="direction" value="@ViewBag.direction" />
            <input type="hidden" name="size" value="@ViewBag.size" />
            <input type="hidden" name="page" value="@ViewBag.page" />
            <input type="submit" name="liiguta" value=&#x2b05 @(ViewBag.page == 1 ? "disabled" : "") />
            <input type="submit" name="liiguta" value=&#x27a1 @(ViewBag.page > pages ? "disabled" : "") />
        </form>

    </div>
}

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            @Html.ActionLink(
                "Toote nimi",       // mis asja näidatakse
                "Index",            // millise meetodi poole pöördutakse
                //"Products",         // milline kontroller
                new
                {
                    sort = "name",
                    direction = (ViewBag.sort + ViewBag.direction == "nameasc" ? "desc" : "asc"),
                    size = ViewBag.size
                }
                , new { @class = "btn btn-default" }
                )

        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
            <form method="post">
                <input type="hidden" name="sort" value="price" />
                <input type="hidden" name="direction" value="@(ViewBag.sort+ViewBag.direction == "priceasc" ? "desc" : "asc")" />
                <input type="submit" value="@(ViewBag.sort+ViewBag.direction == "priceasc" ? "Hind \u2193" : "Hind \u2191")" class="btn btn-default" />
                <input type="hidden" name="size" value="@ViewBag.size" />
            </form>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.UnitsInStock)*@
            <form method="post">
                <input type="hidden" name="sort" value="units" />
                <input type="hidden" name="direction" value="@(ViewBag.sort+ViewBag.direction == "unitsasc" ? "desc" : "asc")" />
                <input type="submit" value="kogus" class="btn btn-default" />
                <input type="hidden" name="size" value="@ViewBag.size" />
            </form>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laoseis)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            @if (ViewBag.editId == item.ProductID)
            {
                <td>
                    <form action="/Products/EditPrice" method="post">
                        <input type="hidden" name="productId" value="@item.ProductID" />
                        <input type="hidden" name="categoryId" value="@ViewBag.categoryId" />
                        <input type="text" name="UnitPrice" value="@item.UnitPrice.ToString()" />
                        <input type="hidden" name="size" value="@ViewBag.size" />
                        <input type="hidden" name="page" value="@ViewBag.page" />
                        <input type="hidden" name="sort" value="@ViewBag.sort" />
                        <input type="hidden" name="direction" value="@ViewBag.direction" />
                        <input type="submit" value="Save" />
                    </form>
                    <form method="post">
                        <input type="hidden" name="id" value="@ViewBag.categoryId" />
                        <input type="hidden" name="editId" value="0" />
                        <input type="hidden" name="size" value="@ViewBag.size" />
                        <input type="hidden" name="page" value="@ViewBag.page" />
                        <input type="hidden" name="sort" value="@ViewBag.sort" />
                        <input type="hidden" name="direction" value="@ViewBag.direction" />
                        <input type="submit" value="Cancel" />
                    </form>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                    <form method="post">
                        <input type="hidden" name="id" value="@ViewBag.categoryId" />
                        <input type="hidden" name="editId" value="@item.ProductID" />
                        <input type="hidden" name="size" value="@ViewBag.size" />
                        <input type="hidden" name="page" value="@ViewBag.page" />
                        <input type="hidden" name="sort" value="@ViewBag.sort" />
                        <input type="hidden" name="direction" value="@ViewBag.direction" />
                        <input type="submit" value="Edit" />
                    </form>
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laoseis)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>

@if (ViewBag.size != 0)
{
    <div style="display:inline">

        <form method="post">
            <input type="hidden" name="sort" value="@ViewBag.sort" />
            <input type="hidden" name="direction" value="@ViewBag.direction" />
            <input type="hidden" name="size" value="@ViewBag.size" />
            <input type="hidden" name="page" value="@ViewBag.page" />
            <input type="submit" name="liiguta" value=&#x2b05 @(ViewBag.page == 1 ? "disabled" : "") />
            <input type="submit" name="liiguta" value=&#x27a1 @(ViewBag.page > pages ? "disabled" : "") />
        </form>

    </div>
}
