﻿@model IEnumerable<NorthwindMVC.Models.Inimene>

@{
    ViewBag.Title = "Index";
    int ohoo = 7;

    string[] ilmakaared = { "Ida", "Lõuna", "Lääs"};

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vanus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="background-color:black;color:white">
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vanus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Nr }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nr }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Nr })
        </td>
    </tr>
}

</table>
<!--see on kommentaar-->
@*<p>@(ohoo+1)</p>
<ol>
    @for (int i = 0; i < ilmakaared.Length; i++)
    {
        <li>ilmakaar @ilmakaared[i]</li>
    }
</ol>*@
