﻿@model MVCNorthWind2.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>

        </dt>

        <dd>
            <img src="@Url.Action("Picture", new { id = Model.CategoryID })" height="200"/>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*<h2>Selles kategoorias on:</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>Toote nimi</th>
        <th>Hind</th>
    </tr>
    @foreach (var p in Model.Products)
    {
        <tr>
            <td>@p.ProductName</td>
            <td>@p.UnitPrice</td>
        </tr>
    }
</table>*@

@Html.Action("Index", "Products", new { id= Model.CategoryID})

@Html.Action("About", "Home");